<div class="w3-row" style="position: sticky; top: 0; z-index: 4;
 background-color: #222222; padding: 6px 16px;">
    <div class="w3-content w3-bar w3-left-align w3-large" style="max-width: 1100px;">
      

      <div class="w3-bar-item w3-left w3-hide-large w3-hide-medium" style=" padding-left: 0px;">
        <div onclick="document.getElementById('menuNav').style.display='block'" title="Toggle Navigation Menu">
          <div class="w3-white w3-card-2" style=" border-radius: 10px; height: 30px; width: 30px;">
            <svg style="margin-top: 4px; margin-left:4px;" width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="Menu / Menu_Alt_05">
                <path id="Vector" d="M5 17H13M5 12H19M11 7H19" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
          </div>
        </div>
      </div>





      <a href="{{ site.url }}" class="w3-bar-item w3-button w3-hover-none" style="padding:6px 12px; padding-left: 0px;">
        <div class="w3-large w3-text-white">
          
          <div class="w3-" style=" padding-top: 1px;">
            <b style="font-size: 14px; padding-left: 12px;">Horse Ride Kufri</b>
          </div>

        </div>
      </a>







      <div class="w3-hide-small w3-bar-item w3-right">
        <a href="mailto:Horseridekufri813@gmail.com">
        <div class="w3-col" style="width: 30px;"> 
          <svg class="w3-card-4" style="margin-top: 3px;" fill="#ffffff" width="26px" height="26px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-iconid="353196" data-svgname="Mail with circle"><path d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6 9.6-4.298 9.6-9.6S15.302.4 10 .4zM6.231 7h7.52c.399 0 .193.512-.024.643-.217.13-3.22 1.947-3.333 2.014s-.257.1-.403.1a.793.793 0 0 1-.402-.1L6.255 7.643C6.038 7.512 5.833 7 6.231 7zM14 12.5c0 .21-.252.5-.444.5H6.444C6.252 13 6 12.71 6 12.5V8.853c0-.092-.002-.211.172-.11l3.417 2.015a.69.69 0 0 0 .402.1c.146 0 .252-.011.403-.1l3.434-2.014c.174-.102.172.018.172.11V12.5z"></path></svg>
            </div>
            <div class="w3-rest">
            <strong class="w3-small w3-text-white">
            Horseridekufri813@gmail.com</strong></div></a>
      </div>
      <div class="w3-hide-small w3-bar-item w3-right">
        <a href="tel:+918628918966" aria-label="Call Me Now">
          <svg class="w3-card-4" style="margin-top: 3px;" width="28px" height="28px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-iconid="440036" data-svgname="Phone circle fill">
<path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM10 8H8.44444C8.2 8 8 8.2 8 8.44444C8 12.6178 11.3822 16 15.5556 16C15.8 16 16 15.8 16 15.5556V14.0044C16 13.76 15.8 13.56 15.5556 13.56C15.0044 13.56 14.4667 13.4711 13.9689 13.3067C13.9244 13.2889 13.8756 13.2844 13.8311 13.2844C13.7156 13.2844 13.6044 13.3289 13.5156 13.4133L12.5378 14.3911C11.28 13.7467 10.2489 12.72 9.60889 11.4622L10.5867 10.4844C10.7111 10.36 10.7467 10.1867 10.6978 10.0311C10.5333 9.53333 10.4444 9 10.4444 8.44444C10.4444 8.2 10.2444 8 10 8ZM9.77333 10.04C9.66667 9.67111 9.6 9.28445 9.57333 8.88889H8.90222C8.94222 9.47556 9.05778 10.04 9.24 10.5733L9.77333 10.04ZM15.1111 14.4311C14.72 14.4044 14.3333 14.3378 13.9556 14.2311L13.4222 14.76C13.96 14.9378 14.5244 15.0533 15.1111 15.0933V14.4311Z" fill="#ffffff"></path>
</svg>
          </a>
      </div>

<div class="w3-hide-small w3-bar-item w3-right w3-text-white">
        <a href="{{ site.url }}privacy-policy.html"><strong class="w3-small"> Privacy Policy</strong></a>
      </div>
<div class="w3-hide-small w3-bar-item w3-right w3-text-white">
        <a href="{{ site.url }}contact-us.html"><strong class="w3-small"> Contact Me</strong></a>
      </div>

      <div class="w3-hide-small w3-bar-item w3-right w3-text-white">
        <a href="{{ site.url }}about-us.html"><strong class="w3-small"> About</strong></a>
      </div>
      
   <div class="w3-hide-small w3-bar-item w3-right w3-text-white">
        <a href="{{ site.url }}services.html"><strong class="w3-small"> Services</strong></a>
      </div>  
<div class="w3-hide-small w3-bar-item w3-right w3-text-white">
        <a href="{{ site.url }}"><strong class="w3-small"> Home</strong></a>
      </div>



    </div>

  <div class="w3-row w3-hide-large w3-hide-medium w3-row w3-text-white w3-border-top" style="margin-top: 16px;">

      <div class="w3-col s8" style="padding-top: 12px;"><span><span>

            <span class="w3-col w3-hide-medium w3-hide-large w3-center w3-large" style="width: 28px;">
              <div class="w3-white" style="border-radius:30px ; height: 28px; width: 28px; padding: 3px 5px;">
                <svg fill="#000000" width="17px" height="17px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.384,17.752a2.108,2.108,0,0,1-.522,3.359,7.543,7.543,0,0,1-5.476.642C10.5,20.523,3.477,13.5,2.247,8.614a7.543,7.543,0,0,1,.642-5.476,2.108,2.108,0,0,1,3.359-.522L8.333,4.7a2.094,2.094,0,0,1,.445,2.328A3.877,3.877,0,0,1,8,8.2c-2.384,2.384,5.417,10.185,7.8,7.8a3.877,3.877,0,0,1,1.173-.781,2.092,2.092,0,0,1,2.328.445Z">
                  </path>
                </svg>
              </div>

            </span>
            <span class="w3-rest w3-cell" style="padding:3px 8px;"><strong><a href="tel:918628918966"><strong>+91-86289-18966</strong></a></strong></span></span></span></div>
      <div class="w3-col w3-padding w3-center" style="width: 90px;"><span>
        <a href="tel:918628918966"><button class="w3-small w3-button w3-round-xxlarge w3-white">Call Now</button></a>
      </span></div>
    </div>

  </div>
  <!--Nav Small-->
  <div id="menuNav" class="w3-hide-large w3-hide-medium w3-large" style="padding-top: 60px; position: fixed; top: 0px; display: none; z-index: 10; background-color: rgb(17, 17, 17); height: 100%; width: 100%;">
    


    <div class="w3-row w3-padding w3-text-white" style="margin: 0px;margin-top:60; ">
      <div class="w3-row" style="padding-top: 12px;">

       <div onclick="document.getElementById('menuNav').style.display='none'">
          <div class="w3-white w3-card-2 w3-button w3-small w3-round-xlarge w3-hover-deep-orange w3-hover-text-black" style="padding: 3px 12px;">
         <div class="w3-col" style="padding-top: 4px; width: 26px;"> <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="#0F1729"></path>
</svg></div> 
<div class="w3-rest w3-text-black" style="padding-top: 5px; margin-right: 12px;">Close Menu</div> 
          </div>
        </div> 

        <p class="w3-xxlarge"><b>Menu</b></p>

        <a href="{{ site.url }}" class="w3-row" style="margin-bottom:12px;">
          
          <div class="w3-row w3-xlarge" style="padding-left: 12px; padding-bottom: 12px;">Home</div>

        </a>
        <a href="{{ site.url }}services.html" class="w3-row" style="margin-bottom:12px;">
          
          <div class="w3-row w3-xlarge" style="padding-left: 12px; padding-bottom: 12px;">Services</div>
        </a>
        <a href="{{ site.url }}about-us.html" class="w3-row" style="margin-bottom:12px;">
          
          <div class="w3-row w3-xlarge" style="padding-left: 12px; padding-bottom: 12px;">About Me</div>

        </a>
        <a href="{{ site.url }}contact-us.html" class="w3-row" style="margin-bottom:12px;">
          
          <div class="w3-row w3-xlarge" style="padding-left: 12px; padding-bottom: 12px;">Contact Me</div>
        </a>
        <a href="{{ site.url }}privacy-policy.html" class="w3-row" style="margin-bottom:12px;">
          
          <div class="w3-row w3-xlarge" style="padding-left: 12px; padding-bottom: 12px;">Privacy Policy</div>

        </a>
       
      </div>

     

     <div class="w3-row w3-margin-top" style="padding: 9px;">

<span class="w3-margin-top w3-col l12  m12 s12 w3-small" style="padding: 5px 0px ;">
            
            <a href="tel:8628918966">
              <sapn class="" style="font-size: 13px; margin: 0px;">
<div class="w3-col" style="width: 30px;">
 <svg class="w3-card-4" style="margin-top: 3px;" width="28px" height="28px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-iconid="440036" data-svgname="Phone circle fill">
<path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM10 8H8.44444C8.2 8 8 8.2 8 8.44444C8 12.6178 11.3822 16 15.5556 16C15.8 16 16 15.8 16 15.5556V14.0044C16 13.76 15.8 13.56 15.5556 13.56C15.0044 13.56 14.4667 13.4711 13.9689 13.3067C13.9244 13.2889 13.8756 13.2844 13.8311 13.2844C13.7156 13.2844 13.6044 13.3289 13.5156 13.4133L12.5378 14.3911C11.28 13.7467 10.2489 12.72 9.60889 11.4622L10.5867 10.4844C10.7111 10.36 10.7467 10.1867 10.6978 10.0311C10.5333 9.53333 10.4444 9 10.4444 8.44444C10.4444 8.2 10.2444 8 10 8ZM9.77333 10.04C9.66667 9.67111 9.6 9.28445 9.57333 8.88889H8.90222C8.94222 9.47556 9.05778 10.04 9.24 10.5733L9.77333 10.04ZM15.1111 14.4311C14.72 14.4044 14.3333 14.3378 13.9556 14.2311L13.4222 14.76C13.96 14.9378 14.5244 15.0533 15.1111 15.0933V14.4311Z" fill="#ffffff"></path>
</svg></div>
              <div class="w3-rest" style="padding-top: 7px;">
              <strong>+91-8628918966</strong></div>
              </sapn>


            </a></span>

            <span class="w3-col l12  m12 s12 w3-small" style="padding: 5px 0px ;">
            
            <a href="mailto:Horseridekufri813@gmail.com">
              <sapn class="" style="font-size: 13px; margin: 0px;">
<div class="w3-col" style="width: 30px;">
 <svg class="w3-card-4" style="margin-top: 3px;" fill="#ffffff" width="26px" height="26px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-iconid="353196" data-svgname="Mail with circle"><path d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6 9.6-4.298 9.6-9.6S15.302.4 10 .4zM6.231 7h7.52c.399 0 .193.512-.024.643-.217.13-3.22 1.947-3.333 2.014s-.257.1-.403.1a.793.793 0 0 1-.402-.1L6.255 7.643C6.038 7.512 5.833 7 6.231 7zM14 12.5c0 .21-.252.5-.444.5H6.444C6.252 13 6 12.71 6 12.5V8.853c0-.092-.002-.211.172-.11l3.417 2.015a.69.69 0 0 0 .402.1c.146 0 .252-.011.403-.1l3.434-2.014c.174-.102.172.018.172.11V12.5z"></path></svg></div>
<div class="w3-rest" style="padding-top: 7px;">

                <strong>Horseridekufri813@gmail.com</strong>
              </div>
              </sapn>


            </a></span>

            <a href="https://wa.me/918628918966"><button class="w3-green w3-button w3-small w3-margin-top " style="border-radius: 30px; padding: 6px 12px;"><i class="fab fa-whatsapp" style="margin-right: 6px;"></i>Whatsapp Me Now</button></a>

     </div>

     
      
     
    


      


    </div>


  </div>